:root {
  --myPrimary: #46a9e0;
  --gray: #6b7c93;
  --gray-500: #202020;
}

@font-face {
  font-family: shabnamFont;
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Light.woff") format("woff");
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Light.ttf") format("ttf");
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Light.eot") format("eot");
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Bold.eot") format("eot");
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Bold.ttf") format("ttf");
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Bold.woff") format("woff");
}

@font-face {
  font-family: vazirFont;
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Bold.eot) format("eot");
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Bold.ttf) format("ttf");
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Bold.woff) format("woff");
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Light.eot) format("eot");
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Light.ttf) format("ttf");
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Light.woff) format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "shabnamFont", "vazirFont";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navButtons {
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type="button"] {
    background-color: var(--myPrimary);
    width: 100%;
    min-height: 10vh;
    font-weight: bold;
    border: none;
  }

  :nth-child(2) {
    background: url(../pictures/navButtonsBg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.hero {
  position: relative;
  padding: 2rem;
}

.carousel-caption h5 {
  position: absolute;
  bottom: 40vh;
  font-weight: 500;
  font-size: 2em;
  z-index: 2;
}

.carousel .carousel-indicators button {
  background-color: white;
  border-radius: 100%;
  min-height: 10px;
  width: 10px;
}

.carousel .carousel-indicators button.active {
  background-color: var(--myPrimary);
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
  background-image: none;
}

.topCard,
.bottomCard {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
  padding: 0 2rem; //remember to fix this you should set padding only once and not for every element

  img {
    width: 100%;
    min-height: 100%;
    margin: 25px auto 25px auto;
  }

  ul {
    list-style: none;

    li::before {
      content: "\2022";
      color: var(--myPrimary);
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: 0.5em;
    }
  }

  input[type="button"] {
    background: var(--myPrimary);
  }
}

.topCard {
  .topCardText {
    max-width: 100%;
    margin: 5px auto 25px auto;
  }
}

.bottomCard {
  .bottomCardText {
    order: 1;
    margin: 5px auto 25px auto;
  }
}

@media screen and(min-width: 1024px) {

  .topCard,
  .bottomCard {
    flex-direction: row;

    .bottomCardText {
      order: -1;
    }
  }

  .navButtons {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    input[type="button"] {
      width: 32%;
    }
  }
}

.fqaArticle {
  line-height: 1.9rem;

  h3 {
    text-align: center;
    display: inline-block;
  }

  p {
    margin: 0.5rem;
  }

  article {
    margin-top: 1.2rem;
  }

  .fqaQuestionParagraph {
    display: flex;
    padding: .8rem 1rem;
    cursor: pointer;
    border: solid;
    border-color: var(--gray-500);
    margin-bottom: 0;
  }

  .addRemoveIcon {
    margin: auto auto auto 0;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: .8rem;
    line-height: 1.6rem;
    text-align: center;
    background: var(--gray-500);
  }

  .addRemoveIcon:hover {
    background-color: var(--myPrimary);
  }

  p.fqaAnswerParagraph {
    background-color: var(--gray-500);
    display: none;
    padding: .8rem 1rem;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.5s;
    margin-top: 0;
    // height: 0; //another way for creating the accordion
  }

  p.fqaAnswerParagraph.active {
    display: block;
    // height: 10vh;  //another way for creatting the accordion
  }
}