:root {
  --myPrimary: #46a9e0;
  --gray: #6b7c93;
  --gray-500: #202020;
  --gray-100: rgb(241, 243, 245);
}

@font-face {
  font-family: shabnamFont;
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Light.woff") format("woff");
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Light.ttf") format("ttf");
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Light.eot") format("eot");
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Bold.eot") format("eot");
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Bold.ttf") format("ttf");
  src: url("../fonts/shabnam-font-v1.1.0/Shabnam-Bold.woff") format("woff");
}

@font-face {
  font-family: vazirFont;
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Bold.eot) format("eot");
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Bold.ttf) format("ttf");
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Bold.woff) format("woff");
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Light.eot) format("eot");
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Light.ttf) format("ttf");
  src: url(../fonts/vazir-font-v8.2.1/Vazir-Light.woff) format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "shabnamFont", "vazirFont";

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
  }

  a {
    color: inherit;
  }

  h2,
  h3,
  h4 {
    font-weight: inherit;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

  input[type="button"] {
    background-color: var(--myPrimary);
    width: 100%;
    min-height: 10vh;
    font-weight: bold;
    border: none;
    color: white;
  }

  :nth-child(2) {
    background: url(../pictures/navButtonsBg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.carousel-caption h5 {
  position: absolute;
  bottom: 40vh;
  font-weight: 500;
  font-size: 2em;
  z-index: 2;
}

.carousel .carousel-indicators button {
  background-color: white;
  border-radius: 100%;
  min-height: 10px;
  width: 10px;
}

.carousel .carousel-indicators button.active {
  background-color: var(--myPrimary);
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
  background-image: none;
}

.topCard,
.bottomCard {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
  margin-top: 20px;

  img {
    width: 100%;
    min-height: 100%;
    // margin-right: a;
  }

  .topCardText {
    margin-left: auto;
    width: 50%;
  }

  ul {
    list-style: none;

    li::before {
      content: "\2022";
      color: var(--myPrimary);
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: 0.5em;
    }
  }

  input[type="button"] {
    background: var(--myPrimary);
  }
}

.topCard {
  background-color: turquoise;
  width: 100%;

  .topCardText {
    width: 100%;
    margin: 5px auto 25px auto;
    background-color: var(--gray);
  }
}

.bottomCard {
  background-color: violet;
  width: 100%;

  .bottomCardText {
    order: 1;
    margin: 5px auto 25px auto;
    background-color: yellowgreen;
  }
}

.faqArticle {
  line-height: 1.9rem;

  h3 {
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: .6rem;
  }

  h3:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -1rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 5%;
    background: var(--gray-500);
  }

  p {
    margin: 0.5rem;
  }

  article {
    margin-top: 1.2rem;
  }

  .faqQuestionParagraph {
    display: flex;
    padding: 1rem 1rem;
    cursor: pointer;
    border: solid;
    border-color: var(--gray-100);
    margin-bottom: 0;
  }

  .addRemoveIcon {
    margin: auto auto auto 0;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: .8rem;
    line-height: 1.6rem;
    text-align: center;
    background: var(--gray-100);
  }

  .addRemoveIcon:hover {
    background-color: var(--myPrimary);
  }

  p.faqAnswerParagraph {
    background-color: var(--gray-100);
    display: none;
    padding: 1rem 1rem;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.5s;
    margin-top: 0;
    // height: 0; //another way for creating the accordion
  }

  p.faqAnswerParagraph.active {
    display: block;
    // height: 10vh;  //another way for creatting the accordion
  }
}

.folllowInstaAdd {
  margin: 4rem 0;
  position: relative;

  .follownInstaSection {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    margin: 0;
    // position: absolute;
    // top: 34px;

    button {
      background-color: #fff;
      margin: 0 auto 2rem auto;
      padding: 1rem;
      max-width: 17rem;
      border-radius: 100px;
    }

    button:hover {
      color: var(--myPrimary);
    }
  }

  .followInstaCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
      width: 100%;
      max-width: 170px;
      filter: grayscale(1);
      margin-bottom: 2rem;
    }

    img:hover {
      filter: none;
      transition: .56s;
    }
  }
}

.bestSelles {
  // background-color: #46a9e0;
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .sectionWith4childSections {
    // background-color: saddlebrown;
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .sectionWith2childSections {
      // background-color: seagreen;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      width: 100vw;

      .productCard {
        // background-color: slateblue;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        text-align: center;
        width: 50vw;

        .productImg {
          // background-color: springgreen;
          width: 100%;

          img {
            width: 100%;
          }
        }

        .productName {
          color: #2C2C2D;
          font-size: 16px;
          line-height: 16px;
          cursor: pointer;
        }

        .productPrice {
          font-size: 16px;
          font-weight: 700;
          line-height: 16px;
          color: #6B7C93;
          cursor: pointer;
        }
      }
    }
  }
}

.bestSellesNavigator {
  background-color: #EDEEF4;
  min-height: 69px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pageNavigatorShow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;

    input {
      border: solid #BBC3CE 1px;
      width: 130px;
      height: 45px;
      text-align: center;
    }

    p{
      margin: auto 0;
    }
  }

  .previousPageButton,
  .nextPageButton {

    button {
      background-color: var(--myPrimary);
      color: white;
      padding: 0 1rem;
      width: 10rem;
      height: 3rem;
      border: none;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: start;

      p {
        margin: auto 0 auto auto;
      }
    }
  }

  .nextPageButton button p {
    margin: auto 0 auto auto;
  }

  .previousPageButton button p {
    margin: auto auto auto 0;
  }
}



@media(min-width: 980px) {

  body {
    background-color: red;
  }

  .bestSelles .sectionWith4childSections {
    // background-color: skyblue;
    display: flex;
    flex-direction: row-reverse;
    // background-color: sandybrown;
    direction: rtl;
    gap: 20px;

    .sectionWith2childSections {
      background-color: sienna;
      flex-direction: row-reverse;
      width: 50vw;
    }

    .sectionWith2childSections .productCard .productImg {
      background-color: yellow;

      img {
        width: 30vw;
      }
    }
  }
}

@media screen and(min-width: 1020px) {

  .topCard,
  .bottomCard {
    background-color: red;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;

    .topCardimg {
      background-color: seagreen;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .topCardText,
    .bottomCardText {
      // background-color: springgreen;
      width: 40%;
      padding: 0;
      margin: 0;
    }

    .bottomCardText {
      order: -1;
      background-color: sienna;
    }
  }

  .topCard {
    background-color: salmon;
  }

  .navButtons {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    input[type="button"] {
      width: 32%;
    }
  }

}