:root {
    --primary: #3DBAD4;
    --gray: #6B7C93;
  }
@font-face {
    font-family: shabnamFont;
    src: url('../fonts/shabnam-font-v1.1.0/Shabnam-Light.woff') format('woff');
    src: url('../fonts/shabnam-font-v1.1.0/Shabnam-Light.ttf') format('ttf');
    src: url('../fonts/shabnam-font-v1.1.0/Shabnam-Light.eot') format('eot');
    src: url('../fonts/shabnam-font-v1.1.0/Shabnam-Bold.eot') format('eot');
    src: url('../fonts/shabnam-font-v1.1.0/Shabnam-Bold.ttf')format('ttf');
    src: url('../fonts/shabnam-font-v1.1.0/Shabnam-Bold.woff') format('woff');
}
@font-face {
    font-family: vazirFont;
    src: url(../fonts/vazir-font-v8.2.1/Vazir-Bold.eot) format('eot');
    src: url(../fonts/vazir-font-v8.2.1/Vazir-Bold.ttf) format('ttf');
    src: url(../fonts/vazir-font-v8.2.1/Vazir-Bold.woff) format('woff');
    src: url(../fonts/vazir-font-v8.2.1/Vazir-Light.eot) format('eot');
    src: url(../fonts/vazir-font-v8.2.1/Vazir-Light.ttf) format('ttf');
    src: url(../fonts/vazir-font-v8.2.1/Vazir-Light.woff) format('woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'shabnamFont';
    line-height: 5%;
}
.hero{
    position: relative;
    padding: 2rem;
}
.carousel-caption h5{
    position: absolute;
    bottom: 40vh;
    font-weight: 500;
    font-size: 2em;
    z-index: 2;
}
.carousel .carousel-indicators button {
     background-color:white ;
     border-radius: 100%;
     height: 10px;
     width: 10px;
}
.carousel .carousel-indicators button.active {
    background-color: var(--primary);
}
.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon
{
     background-image: none; 
}
.secondPart,
.thirdPart
{
    line-height: 50px;
}
.secondPartImage{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.secondPartLeft,
.thirdPartRight
{
    position: relative;
}
.secondPartText,
.thirdPartText
{
    position: absolute;
    top: 4.5vh;
    line-height: 2em;
}
.secondPartText .card-text,
.thirdPartText .card-text
{
    line-height: 2.5em;
}
.secondPartText ul ,
.thirdPartText ul
{
    list-style: none;
}
.secondPartText ul li::before
{
    content: "\2022";
    color: var(--primary);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    /* height: 2em; line height */
    margin-left: .5em;
}
.secondPartText .btn,
.thirdPartText .btn
{
    background: var(--primary);
}